
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^pagina-inicial$ index.php [QSA,L,NC]
    RewriteRule ^quem-somos$ index.php?pagina=sobre [QSA,L,NC]
    RewriteRule ^detalhes$ index.php?pagina=detalhes [QSA,L,NC]
    RewriteRule ^contacto$ index.php?pagina=agentContact [QSA,L,NC]
    RewriteRule ^descricao-detalhada-do-imovel$ index.php?pagina=descDetalhada [QSA,L,NC]
    RewriteRule ^perguntas-frequentes$ index.php?pagina=faq [QSA,L,NC]
    RewriteRule ^galeria$ index.php?pagina=galeria [QSA,L,NC]
    RewriteRule ^visita-virtual$ index.php?pagina=visita [QSA,L,NC]
    RewriteRule ^visita-guiada-ao-imovel$ index.php?pagina=galeria3d [QSA,L,NC]
    RewriteRule ^caracteristicas-do-imovel$ index.php?pagina=propertyTips [QSA,L,NC]
    RewriteRule ^localizacao$ index.php?pagina=localizacao [QSA,L,NC]

